#banner{
    padding-top:84px;
    padding-bottom:87.35px;
    margin-bottom:117px;
}
#hero{
    padding-top:373px;
    padding-bottom:103.4px;
}
.button-1{
    padding:55.48px 80.17px 57.4px 66.98px;
}
.hero-link{
    margin-top:100px;
}
.hero-btn{
    padding: 57px 114px;
}
#reg-form{
    margin-top:93.63px;
}
#testimonial{
    margin-bottom:100px;
}
.testimonial-cards1, .testimonial-cards2, .testimonial-cards3, .testimonial-cards4{
    margin-bottom:69px;
}
.testimonial-footer{
    padding-bottom:28px;
}
.button-2{
    padding:19.47px 38.6px 18.53px 37.4px;
}
.testimonial-btn1{
    padding:43.25px 50.41px 43.97px 50.3px;
}
.testimonial-btn2{
    padding: 15.51px 34.8px 16.67px 29.8px;
}
.line1{
    margin-top:80px;
    margin-bottom:60px;
}
.line2{
    margin-top:42.7px;
    margin-bottom:48.56px;
}
.video-link{
    padding:14px 29.65px 14.89px 29px;
}
.video-link-con{
    margin-top:20.08px;
    margin-bottom:23.65px;
}
#testimonial-blogs{
    margin-bottom:100px;
}
.ketan{
    padding:0px 40px 28.66px;
}
.amber{
    padding:0px 30px 30px;
}
.david{
    padding:0px 40px 60.66px;
}
.angela{
    padding:0px 20px 48.04px;
}
.cassie{
    padding:0px 25px 16px;
}
.blog-video{
    margin-top:64px;
    padding-top:26px;
}
.form-section{
    margin-bottom:38px;
}
.input-select{
    padding-left:50px;
    font-size:63px;
}
.registration-link{
    padding:57px 400px;
}
.reg-footer{
    margin-top:94px;
}
.registration-footer{
    margin-top:110.12px;
}
#terms-check{
    margin-left:40px;
}